<%@ page session="true" %>
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<!DOCTYPE HTML>
<html>
<head>
  <title>KPC Admin</title>
  <meta ttp-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" type="text/css" media="screen" href="/KpcPersonalEvaluation/common/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/KpcPersonalEvaluation/common/css/common.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="/KpcPersonalEvaluation/common/css/sb-admin-2.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="/KpcPersonalEvaluation/common/css/metisMenu.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/KpcPersonalEvaluation/common/css/jquery-ui.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/KpcPersonalEvaluation/common/css/font-awesome.css" />  
  <script src="/KpcPersonalEvaluation/common/js/jquery-1.11.1.min.js"></script>
  <script src="/KpcPersonalEvaluation/common/js/jquery-ui-1.11.1.js"></script>
  <script src="/KpcPersonalEvaluation/common/js/jquery.monthpicker.js"></script>  
  <script src="/KpcPersonalEvaluation/common/js/bootstrap.min.js"></script>
  <script src="/KpcPersonalEvaluation/common/js/metisMenu.js"></script>
  <script src="/KpcPersonalEvaluation/common/js/morris.js"></script>    
  <script src="/KpcPersonalEvaluation/common/js/sb-admin-2.js"></script>   
</head>
<input type="hidden" id="pageType" value=""/>
